{% extends "base.html" %}

{% block content %}

    <!-- CTA -->
    <section class="cta-banner">
        👉 ¿Necesitas un presupuesto SEO? <a href="#">Haz clic aquí</a> 👈
    </section>

    <!-- HERO CATEGORIES -->
    <section class="hero-categories container">
        <h1 class="categories-title">Todo lo que necesitas saber sobre</h1>
        <div class="grid-4 ">
            {% for category in main_categories %}
                {% include "components/category_card.html" %}
            {% endfor %}
        </div>
    </section>

    <!-- MARKETING TAG CATEGORY-->
     {% comment %} agregar logica desde modelo para mandar a llamar la categoria marketing {% endcomment %}
    <section class="tag-section container">
        <span>📣 MARKETING DIGITAL</span>
    </section>

    <!-- INTRO TEXT -->
    <section class="container text-center">
        <p>
            Con este blog quiero que te lances de una vez por todas a mejorar el posicionamiento web de tu sitio, porque el SEO no debería ser sólo para unos pocos, ¿no crees? 
        </p>
    </section>

    <!-- POPULAR -->
    <section class="container">
        <h2>Lo más popular del blog</h2>

        <div class="chips">
            {% for post in popular_posts %}
                {% include "components/chip_link.html" %}
            {% endfor %}
        </div>
    </section>

    <!-- SEARCH -->
    <section class="container">
        {% include "components/search_box.html" %}
    </section>

    <!-- AUTHOR -->
    <section class="container">
        {% include "components/author_card.html" %}
    </section>

    <!-- FEATURED POST -->
    {% if featured_post %}
        <section class="container content-long featured-post">
            <article class="featured-post-article">
                <h2 class="featured-post-title">{{ featured_post.title }}</h2>
                <div class="featured-post-content">
                    <p class="">
                        {{ featured_post.content|linebreaks|truncatewords_html:100 }}
                    </p>
                </div>
                <a class="featured-post-link" href="{{ featured_post.get_absolute_url }}"> Leer artículo completo →</a>
            </article>
        </section>
    {% endif %}

    <!-- LATEST POSTS -->
    <section class="container">
        <h2>Últimos posts publicados</h2>
        <div class="grid-3">
            {% for post in latest_posts %}
                {% include "components/post_card.html" %}
            {% endfor %}
        </div>
        <a href="{% url 'blog:list_posts' %}" class="btn-secondary">Todos los Posts</a>
    </section>

{% endblock %}