<div class="author-card">
    <div class="author-card__header">
        {% if author.avatar %}
            <img src="{{ author.avatar.url }}" alt="{{ author }}" class="author-card__avatar">
        {% comment %} {% else %}
            <div class="author-card__avatar author-card__avatar--placeholder">
                {{ author.user.username|first|upper }}
            </div> {% endcomment %}
        {% endif %}
        <div class="author-card__info">
            <h3 class="author-card__name">{{ site_author.user.username|upper }}</h3>
            <p class="author-card__stats">{{ site_author.get_posts_count }} publicación{{ site_author.get_posts_count|pluralize:"es" }}</p>
        </div>
    </div>
    
    {% if site_author.bio %}
        <p class="author-card__bio">{{ site_author.bio|truncatewords:30 }}</p>
    {% endif %}
    
    {% if site_author.website or site_author.twitter or site_author.linkedin or site_author.github %}
        <div class="author-card__social">
            {% if site_author.website %}
                <a href="{{ site_author.website }}" target="_blank" rel="noopener" class="author-card__link" title="Sitio web">
                    🌐
                </a>
            {% endif %}
            {% if site_author.twitter %}
                <a href="https://twitter.com/{{ site_author.twitter }}" target="_blank" rel="noopener" class="author-card__link" title="Twitter">
                    🐦
                </a>
            {% endif %}
            {% if site_author.linkedin %}
                <a href="{{ site_author.linkedin }}" target="_blank" rel="noopener" class="author-card__link" title="LinkedIn">
                    💼
                </a>
            {% endif %}
            {% if site_author.github %}
                <a href="https://github.com/{{ site_author.github }}" target="_blank" rel="noopener" class="author-card__link" title="GitHub">
                    💻
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>